.boxCPF{
    background-color: #2D2D32;
    padding: 1em;
    width: 80%;
    margin: 10% auto;
    border-radius: 1em;
    display:flow-root;
    flex-direction: column;
}
.search{
    color: #e0ccb3 ;
    
}