.title{
    display: flex;
    flex-direction: row;
    background-color: #FDC029;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    border-radius: 5px;
    padding: 5px;
}
span{
    align-self: flex-start;
    align-self: center;
    width: 10%;
    
}
a{
    font-size: 20px;
    text-decoration: none;
    color:#181820;
}
h2{
    color: #181820;
    width: 56%;
    margin: 0px;
}
div.listaBatata{
    background-color: #2D2D32;
    padding: 1em;
    width: 80%;
    margin: 2% 10%;
    border-radius: 1em;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-flow: column;
}
div.img,svg{
    font-size: 25px;
}
.batata{
    font-size:30px;
    align-self: auto;

}
.descricaoBatata{
    width: 70%;
    text-align: justify;
    width: -webkit-fill-available;
    
}
.batata2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
input[type="quantidade" ]{
    padding: 1px;
    border: 1px solid #b2b2b2;
    border-radius: 3px;
    box-shadow: 0px 1px 4px 0px rgb(168 168 168 / 60%) inset;
    transition: all 0.2s linear; 
    
}
.coluna1{ 
    display: flex;
}
.coluna2{
    display: flow-root;
}
.coluna3{
    display: flow-root;
    cursor: pointer;
    outline: none;
    margin-right: 0px!important;
    margin: 0 0 3px;
}
.cardbatata{
    display: flex;
}