h3{
    text-align: initial;
    margin: 20px;
    padding-left: 30px;
    margin-bottom: 0px;
}
.box{
    background-color: #2D2D32;
    padding: 1em;
    width: 95%;
    margin: 0 auto;
    border-radius: 1em;
}
form div + div {
    margin-top: 0.5em;
}
label{
    font-size: 25px;
    display: contents;
    text-align: center;
}
input, textarea, select {
    font: 20px sans-serif;
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid #999;
    border-radius: 0.25em;
}
.save, .edit {
    font-size: 30px;
    text-decoration: none;
    color:#E0CCB3;
}

button{

   background-color: #2D2D32;
   border: none;
   text-decoration: none;
   display: inline-block;

}
div.button{
    display: inline-block;
    width: 100%;
    text-align: end;
}