.title{
    display: flex;
    flex-direction: row;
    background-color: #FDC029;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    border-radius: 5px;
    padding: 5px;
}
span{
    align-self: flex-start;
    align-self: center;
    width: 10%;
    
}
a{
    font-size: 25px;
    text-decoration: none;
    color:#181820;
}
h2{
    color: #181820;
    width: 56%;
    margin: 0px;
}
div.listaCostela{
    background-color: #2D2D32;
    padding: 1em;
    width: 80%;
    margin: 2% 10%;
    border-radius: 1em;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-flow: column;
}
div.img,svg{
    font-size: 25px;
}
.costela{
    font-size:30px;
    align-self: center;

}
