.main--costela{
    padding-bottom: 50px;
}
div.listaCostela{
    background-color: #2D2D32;
    padding: 1em;
    width: 80%;
    margin: 2% 10%;
    border-radius: 1em;
    font-size: 20px;
}
.costela{
    font-size:30px;
    align-self: center;

}
.descricao{
    width: 70%;
    text-align: justify;
    font-size: 16px;
}
.imagem--costela{
    background-image: url(../../../assets/images/costela2.jpg);
    height: 500px;
    background-repeat: no-repeat;
    position: relative;
    width: 100vw;
    background-size: cover;
}
.valor{
    justify-content: space-around;
    display: flex;
    align-self: center;
}
.costela2{
    display: flex;
    
}